<h3>Background</h3>

<p>This tutorial covers an implementation of Divide and Recombine (D&amp;R) in the R statistical programming environment, called <code>datadr</code>.</p>

<p>The goal of D&amp;R is to provide an environment for data analysts to carry out deep statistical analysis of large, complex data with as much ease and flexibility as is possible with small datasets.  </p>

<p>D&amp;R is accomplished by dividing data into meaningful subsets, applying analytical methods to those subsets, and recombining the results.  Recombinations can be numerical or visual.  For visualization in the D&amp;R framework, see <a href="http://github.com/hafen/trelliscope">trelliscope</a>.  </p>

<p>The diagram below is a visual representation of the D&amp;R process.</p>

