<h3>Functionality</h3>

<p><em>gravicom</em> acts as a standalone exploratory tool for graph data or as an initial state to be passed to a community detection algorithm in order reduce the complexity of optimization.</p> 

<p>Users are able to
<ul>
  <li>Visually direct and interact with the steps of community detection</li>
  <li>Assess the created clusters through visual and quantitative summaries</li>
  <li>Save and export graphs</li>
  <li>Upload their own graphs for community detection and visualization</li>
</ul></p>


